/*This is our styles sheet*/

.vader {
    /*background-image: url('Images/darth_vader_RogueOne_background.jpg');*/
    background-image: url('Images/darth_vader_background.jpg');    
    background-repeat:no-repeat;
    background-size:cover;
}

.starwars {
    color: white;
}

ol {
    color: darkgray;
}

.tatooine {
    background-image: url('Images/Tatooine.png');
}

.hoth {
    background-image: url('Images/Hoth V2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.dagobah {
    background-image: url('Images/Dagobah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.coruscant {
    background-image: url('Images/Coruscant (2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
}

a{
    color: lightslategray;
    font-weight:bold;
}